root {
    text-decoration-color:white;
    lighting-color: blue;
    background-color:black;

}

{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /*Enables smooth scrolling */

}
body {
    font-family: 'poppins', Arial, Helvetica, sans-serif;
    background-color: aqua;
    
}

{
    color: var(--link-color);
    text-decoration: none;

}

/*navbar*/
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 50px;
    height: 80px;
}
nav .left {
    color: var(--text-color);
    font-size: 23px;
    font-weight: 600;
}

nav .right{
    color: var(--text-color);
    
    margin: 0 10px;

}

nav .right a:last-child{
    color: var(--background-color);
    background-color: var(--text-color);
    padding: 5px 15px;
    border-radius: 5px;
}

nav .right a span {
    margin-left:  5px;
}

@media (max-width: 600px) {
    /* navbar */
    nav{
        padding: 0 20px;
    }
    nav .left a span {
        display: none;
    }
    nav .right a:last-child{
        color: var(--text-color);
        background-color: transparent;
        padding: 0;

    }
}
/* about section*/
menu {
    display: flex;
    justify-content: space-between;
  
}
main.section.text.links{
    display: inline-block;
    padding: 5px 10px;
    border: 2px solid var(--text-color);
    border: 5px;
}

    





